<div class="container">

    <div>
        <mat-toolbar class="booking-list-toolbar" style="background-color:#ECE5FF">
            <span>Listado reservas</span>
          </mat-toolbar>
    </div>
    
    

    <div>
        <mat-form-field >
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Realizar filtro" #input>
          </mat-form-field>
          <mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="nombrePersonaReserva">
              <mat-header-cell *matHeaderCellDef> Nombre completo </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nombrePersonaReserva}} </mat-cell>
            </ng-container>
    
                 <!-- Name Column -->
                 <ng-container matColumnDef="idPersonaReserva">
                  <mat-header-cell *matHeaderCellDef> No. identificación </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.idPersonaReserva}} </mat-cell>
                </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="direccionPersonaReserva">
              <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.direccionPersonaReserva}} </mat-cell>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="telefonoPersonReserva">
              <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.telefonoPersonReserva}} </mat-cell>
            </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="fechaReservacion">
                <mat-header-cell *matHeaderCellDef> Fecha reserva </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fechaReservacion}} </mat-cell>
              </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="fechaExpiracion">
                    <mat-header-cell *matHeaderCellDef> Fecha expiración  </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fechaExpiracion}} </mat-cell>
                  </ng-container>
    
                      <!-- Symbol Column -->
                <ng-container matColumnDef="idCombo">
                    <mat-header-cell *matHeaderCellDef> Tipo combo  </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.idCombo}} </mat-cell>
                  </ng-container>
    
                      <!-- Symbol Column -->
                <ng-container matColumnDef="precioFinalReserva">
                    <mat-header-cell *matHeaderCellDef> Precio  </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.precioFinalReserva}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        
                  
                        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" matTooltip="Actualizar reserva" [routerLink]="['../actualizar']" [queryParams]="element" routerLinkActive="active">
                          <mat-icon>create</mat-icon>
                      </button>
                        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" matTooltip="Eliminar reserva"  (click)="eliminarReserva(element.id,element)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                      
                    </mat-cell>
                  </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[7, 12, 20]" showFirstLastButtons></mat-paginator>
        </div>
</div>
