<mat-toolbar class="main-toolbar" color= "primary">
    <button mat-icon-button class="menu-icon-main-toolbar">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Express party</span>
   <span class="spacer"></span>
   <button  mat-button class="button-toolbar "matTooltip="Quienes somos">Nosotros</button>
   <button  mat-button class="button-toolbar"  matTooltip="Contactos">Contacto</button>
   <button mat-icon-button class="favorite-icon-main-toolbar" class="favorite-icon-main-toolbar" >

     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="share-icon-main-toolbar">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>